$color: rgb(223, 127, 37);

body {
    color: $color;
    background-color: #FAC134;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.row {
    margin: 0;
    padding: 0;
}
@media (min-width: 992px) {
    .navbar li {
        margin-left: 1.5%;
        margin-right: 1.5%;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 2em;
    }
}
@media (max-width: 992px) {
    .horaire li {
        font-size: 0.8em;
    }
    .navbar-nav {
        text-align: center
    }
}
@media (max-width: 450px) {

    .navbar-brand {
        width: 40%;
    }
}
.navbar {
    border-bottom: 2px solid red;
}
.navbar-custom {
    width: 100%;
    background-color: #FAC134;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='red' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler {
    border-color: rgb(223, 127, 37);
}
.nav-item a {
    color: $color;

    &:hover {
        color: red
    }
}
.photos {
    padding: 0;
    margin: 0;
}
.jumbotron {
    margin: 0;
    width: 100%;
    padding: 0;
    background-color: red;
    border-radius: 0
}
.jumbotron .btn {
    font-size: 40%;
    font-weight: bold;
    background: url("images/Nouveau\ projet\(1\).png");
    opacity: 0.75;

    &:hover {
        opacity: 1
    }
}
footer {
    border-top: 3px solid red;
}

.horaire ul {
    list-style: none;
}
.horaire {
    padding-top: 3%;
    font-size: 150%;
}
/*Carte*/
.carte h2,
.list-group {
    margin: 0;
    color: rgb(44, 42, 42);
}
/*Contact*/

/*Restaurant*/
.horaire-border{
    border-right: 2px solid red
}
@media(max-width:768px){
    .horaire-border{
    border:0px solid;
    }
}
/*Photos*/
.align-center{
    text-align: center
}
